body {

    font-family: roboto;
}

h3 {

    text-align: center;
}

img {
    
    height: 60px;

}

section {
    display: flex;
    flex-flow: row wrap;
}

article {
    background-color: lightcyan;
    height: 300px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin: 10px;


}


@media (min-width: 600px) {
    article {
        background: none;
        padding: 70px;
    }



    @media (min-width: 772px) {
        article {
            width: calc(50% - 20px);
        }

        article:last-child {
            width: 100%;
        }

    }

    @media (min-width: 1200px) {

        article,
        article:last-child {
            width: calc(33.33% - 20px);


        }
        
        img {
            
            width: 200px;
        }
    }
